.about-company {
	h2 {
		text-align: right;

		span {
			color: $green50;
		}

		@include tablet {
			text-align: left;
		}
	}

	&__swiper {
		margin-bottom: 140px;

		@include tablet {
			margin-bottom: 80px;
		}
	}

	&__content {
		margin-top: 80px;
		display: grid;
		grid-template-columns: minmax(300px, 713px) 1fr;

		@include desktop_huge {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet {
			grid-template-columns: 1fr;
			margin-top: 40px;
		}

		img {
			min-height: 360px;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include tablet {
			grid-template-columns: 1fr;
			order: -1;
		}
	}

	&__card {
		padding: 36px 28px;
		border-top: solid 1px $gray10;
		display: grid;
		grid-template-rows: max-content auto;
		gap: 45px;

		&:nth-child(2n-1) {
			border-right: solid 1px $gray10;

			@include tablet {
				border-right: none;
			}
		}

		@include tablet {
			padding: 30px 20px;
			gap: 40px;
		}
	}
}

