.banner {
	overflow-x: hidden;

	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include tablet {
			padding-bottom: 40px;
		}

		@include mobile {
			gap: 15px;
		}
	}

	.swiper-slide {
		position: relative;
		height: auto;
		min-height: 500px;

		// @include mobile {
		// 	height: 350px;
		// }
	}

	img {
		filter: brightness(50%);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
	}

	h2,
	p {
		// max-width: 707px;
		color: $white;
		// overflow: hidden;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
	}

	h2 {
		flex-grow: 1;
		@include bold-40-uppercase;

		@include tablet {
			@include bold-30-uppercase;
		}

		@include mobile {
			@include bold-20-uppercase;
		}
	}

	p {
		@include regular-18;

		@include mobile {
			@include regular-16;
			-webkit-line-clamp: 10;
			// max-height: 80px;
		}
	}

	.link {
		justify-self: flex-end;
	}

	.swiper-button-prev,
	.swiper-button-next {
		@include tablet {
			bottom: 20px !important;
		}
	}
}

