.breadcrumbs {
	display: flex;
	gap: 35px;

	@include mobile {
		gap: 19px;
		margin-bottom: 10px;
	}

	li {
		position: relative;
		color: $gray20;
		white-space: nowrap;

		@include mobile {
			@include regular-14;
		}

		&:after {
			content: url(@icons/dot.svg);
			color: $gray20;
			position: absolute;
			right: -17px;
			bottom: 3px;

			@include mobile {
				right: -9px;
			}
		}

		&:last-child {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;

			& ::after {
				content: '';
			}
		}
	}

	.link {
		@include regular-16;
		color: $gray20;

		@include mobile {
			@include regular-14;
		}

		&:hover {
			color: $green50;
		}
	}
}

