.career-section {
	position: relative;
	height: 909px;
	margin-bottom: 125px;

	@include tablet {
		height: unset;
		margin-bottom: 0;
	}

	.container {
		padding-top: 140px;
		padding-bottom: 126px;
		height: 100%;
		display: grid;
		grid-template-rows: minmax(0, 150px) auto auto;
		gap: 28px;
		justify-content: flex-end;
		text-align: right;

		@include desktop_large {
			height: unset;
		}

		@include tablet {
			padding-top: 80px;
			padding-bottom: 80px;
			grid-template-rows: unset;
			justify-content: left;
			text-align: left;
		}
	}

	&_left {
		.container {
			justify-content: flex-start;
			text-align: left;
		}
	}

	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(50%);

		@include tablet {
			margin: unset;
			max-height: 800px;
		}
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(50%);

		@include tablet {
			margin: unset;
			max-height: 500px;
		}
	}

	h2 {
		color: $white;
		max-width: 900px;
		overflow: hidden;
	}

	p {
		@include regular-20;
		color: $white;
		max-width: 680px;
		overflow: hidden;

		@include mobile {
			@include regular-16;
		}
	}

	&_secondary {
		&::after {
			content: '';
			width: 100%;
			height: 125px;
			position: absolute;
			bottom: -125px;
			background-color: #1a1a1a;
			z-index: -1;
		}

		.container {
			grid-template-rows: minmax(0, 120px) auto auto;
		}
	}

	&_high {
		height: 1117px;
	}

	&__vacancys {
		display: flex;
		gap: 16px;
		max-width: 636px;
		flex-wrap: wrap;
		align-self: flex-end;

		@include desktop_large {
			max-width: 900px;
		}
	}

	&__vacancy {
		@include medium-18-uppercase;
		border: solid 1px $gray04;
		color: $white;
		padding: 14px 24px;
		width: fit-content;
		border-radius: 60px;

		@include mobile {
			@include medium-16-uppercase;
			padding: 10px 24px;
			height: unset;
			white-space: wrap;
			line-height: unset;
		}
	}

	&__form {
		form {
			bottom: -260px !important;
		}
	}
}

