.career-section {
	position: relative;
	height: 909px;
	margin-bottom: 125px;

	.container {
		padding-top: 140px;
		padding-bottom: 126px;
		height: 100%;
		display: grid;
		grid-template-rows: minmax(0, 150px) auto auto;
		gap: 28px;

		@include desktop_large {
			height: unset;
		}

		@include tablet {
			padding-top: 80px;
			padding-bottom: 80px;
			grid-template-rows: unset;
		}
	}

	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(50%);
	}

	h2 {
		color: $white;
		max-width: 908px;

		overflow: hidden;
	}

	p {
		@include regular-20;
		color: $white;
		max-width: 680px;
		overflow: hidden;

		@include mobile {
			@include regular-16;
		}
	}

	&__vacancys {
		display: flex;
		gap: 16px;
		max-width: 636px;
		flex-wrap: wrap;
		align-self: flex-end;

		@include desktop_large {
			max-width: 900px;
		}
	}

	&__vacancy {
		@include medium-18-uppercase;
		border: solid 1px $gray04;
		color: $white;
		padding: 14px 24px;
		width: fit-content;
		border-radius: 60px;

		@include mobile {
			@include medium-16-uppercase;
			padding: 10px 24px;
		}
	}
}

