.career {
	padding-bottom: 140px;

	@include tablet {
		padding-bottom: 80px;
	}

	h2 {
		margin-bottom: 30px;

		span {
			color: $green50;
		}
	}

	p {
		max-width: 800px;
	}

	.enumeration {
		margin-top: 80px;

		@include tablet {
			margin-top: 60px;
		}
	}

	.accordion__content {
		display: grid;
		grid-template-rows: minmax(0, 100px) auto;
		justify-content: space-between;

		@include min_tablet {
			min-height: 140px;
		}

		@include tablet {
			gap: 30px !important;
		}
	}
}

