.enumeration {
	&__item {
		padding: 40px 0 40px 0;
		border-top: solid 1px $gray10;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@include tablet {
			display: block;
			padding: 0;
			border: none;
			position: relative;

			&::before {
				content: '';
				width: 100%;
				border-top: solid 1px $gray10;
				position: absolute;
				top: -20px;
			}

			h3 {
				@include mobile {
					@include bold-16-uppercase;
				}
			}
		}
	}

	.accordion__toggle {
		align-self: flex-start;
		@include medium-20;
		color: $white;
		margin-bottom: 20px;

		@include tablet {
			margin-bottom: 0;
		}

		@include min_tablet {
			cursor: default !important;
		}

		&::after {
			border-bottom: none !important;
		}
	}

	.accordion-icon {
		background-image: url(../files/icons/plus-black.svg) !important;
	}

	.accordion__content {
		@include min_tablet {
			opacity: 1 !important;
		}

		@include tablet {
			margin-top: 40px !important;
		}
		@include min_tablet {
			gap: 15px !important;
			height: unset !important;
			max-height: unset !important;

			.list {
				margin-bottom: 20px;
			}
		}

		p {
			@include regular-20;

			@include tablet {
				@include regular-16;
			}
		}

		a {
			@include regular-20;

			&:hover {
				color: $green50;
			}

			@include tablet {
				@include regular-16;
			}
		}
	}
	.accordion__item_active {
		.accordion__content {
			@include tablet {
				padding-bottom: 40px !important;
			}
		}

		.accordion-icon {
			background-image: url(../files/icons/minus-black.svg) !important;
		}
	}

	&__wrapper {}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include tablet {
			gap: 12px;
		}

		&_view {
			max-height: 55px;
			overflow-y: hidden;

			@include tablet {
				max-height: 30px;
			}

			@include tablet_small {
				max-height: 40px;
			}
		}

		&_active {
			max-height: unset !important;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 5px;
		
			li {
				display: flex;
				gap: 10px;
				align-items: baseline;
				@include regular-20;
		
				@include tablet {
					@include regular-16;
				}
		
				&::before {
					content: url(@icons/list-item-small.svg);
				}
			}
		}

		
	}

	&__link {
		display: none;

		&_active {
			display: inline-block;
            width: fit-content;
            border-bottom: 1px solid $green50;
            @include transition;
			font-size: 14px !important;
			margin-top: 12px;

            &,
            &:active,
            &:visited,
            &:focus,
            &:focus-visible {
                color: $green50;
            }
        
            &:hover {
                color: $green60 !important;
                border-color: $green60;
            }
		}
	}
}

