.index-page {
	h2 {
		@include medium-60-uppercase;
		span,
		b {
			font-size: inherit;
		}

		@include tablet {
			@include medium-30-uppercase;
		}

		@include mobile {
			@include medium-20-uppercase;
		}
	}

	.project-section {
		padding-bottom: 140px;

		@include tablet {
			padding-bottom: 80px;
		}
	}
}

