.map {
	min-height: calc((100vw - 60px) * 0.375);
	background-image: url(@images/map.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 60px;

	@include tablet {
		display: none;
		min-height: calc(100vw * 0.375);
		margin-right: 0;
	}
}

