.map-preview {

	&__item {
		@include min_desktop_extra {
			max-width: calc(100vw - 60%);
			padding: 36px;
		}
		
		background-color: $white;
		padding: 24px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		max-width: 368px;
		
		position: absolute;
		z-index: 4;

		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s;

		&._active {
			opacity: 1;
			pointer-events: auto;
		}

		&_administration {
			bottom: 20%;
			left: 55%;
		}

		&_roads {
			bottom: 15%;
			left: 30%;
		}

		&_agroprom {
			top: 15%;
    		right: 20%;
		}

		&_airport {
			top: 15%;
    		left: 25%;
		}

		&_education {
			bottom: 15%;
    		left: 20%;
		}

		&_factory {
			top: 15%;
			left: 55%;
		}

		&_hospital {
			bottom: 15%;
    		right: 20%;
		}

		&_oil {
			top: 15%;
    		left: 20%;
		}

		h3 {
			@include min_desktop_extra {
				font-size: calc(14px + 14 * (100vw / 1920));
			}
			
			@include medium-16;
			margin-bottom: 3px;

			span {
				@include min_desktop_extra {
					font-size: calc(14px + 14 * (100vw / 1920));
				}
				
				@include medium-16;
				color: $green50;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 16px;

		h4 {
			@include min_desktop_extra {
				font-size: calc(12px + 12 * (100vw / 1920));
			}
			
			@include regular-16;
			color: $gray40;
		}

		.list {
			@include desktop_medium {
				max-height: 150px;
				overflow-y: auto;
				overflow-x: hidden;
			}
		}

		li {
			@include min_desktop_extra {
				font-size: calc(12px + 12 * (100vw / 1920));
			}
			
			@include regular-14;
			
			&::before {
				@include min_desktop_extra {
					content: url('@icons/list-item.svg');
					padding-bottom: 1%;
					display: flex;
					align-items: flex-start;
				}
				
				content: url('@icons/list-item-small.svg');
				width: 14px;
				height: 14px;
				max-width: fit-content;
			}

			.link {
				@include min_desktop_extra {
					font-size: calc(12px + 12 * (100vw / 1920));
				}
				
				@include regular-14;
				text-transform: uppercase;
			}
		}
	}

	&__more {
		@include min_desktop_extra {
			font-size: calc(12px + 12 * (100vw / 1920));
		}
		
		@include medium-14;
		align-items: center;
		line-height: 100%;

		&::after {
			width: 18px;
			height: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}