.massmedia-section {
	padding-top: 0;
	padding-bottom: 140px;
	position: relative;

	@include tablet {
		padding-top: 0;
		padding-bottom: 80px;
	}

	h2 {
		margin-bottom: 80px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	.btn {
		margin: 40px auto 0 auto;

		@include min_tablet {
			margin: 0;
			position: absolute;
			right: 175px;
			top: 0;
		}

		@include min_mobile {
			margin: 0;
			top: 0;
			right: 55px;
			position: absolute;
		}
	}

	.pagination {
		margin-top: 50px;

		.btn {
			position: unset;
			margin: 0;

			@include min_mobile {
				display: none;
			}
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@include tablet_small {
			grid-template-columns: 1fr;

			.event-card:nth-child(n + 6) {
				display: none;
			}
		}
	}

	&_secondary {
		.event-card:nth-child(n + 4) {
			@include tablet_small {
				display: grid;
			}
		}
	}
}

