.media-section {
	padding-top: 140px;
	padding-bottom: 140px;
	position: relative;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		margin-bottom: 80px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	.btn {
		margin: 40px auto 0 auto;

		@include min_tablet {
			margin: 0;
			position: absolute;
			right: 175px;
			top: 150px;
		}
		@include min_mobile {
			margin: 0;
			top: 80px;
			right: 55px;
			position: absolute;
		}
	}
}

