.news-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 24px 20px;
	border-bottom: solid 1px $gray20;

	@include tablet {
		padding: 30px 0;
		gap: 15px;

		&:first-child {
			padding-top: 0;
		}
	}

	&__date {
		color: $gray40;
	}
}

