.numbers {
	padding-top: 140px;
	padding-bottom: 120px;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		margin-bottom: 80px;
		text-align: right;

		@include tablet {
			margin-bottom: 40px;
			text-align: left;
		}

		span {
			color: $green50;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		margin-bottom: 50px;

		@include tablet {
			align-items: flex-start;
			text-align: left;
			margin-bottom: 20px;
		}

		h2 {
			max-width: 1200px;
			margin-bottom: 50px;

			@include tablet {
				margin-bottom: 20px;
			}

			span {
				font-size: inherit;
				color: $green50;
			}
		}

		p {
			max-width: 877px;
			@include regular-20;
			color: $gray50;

			@include mobile {
				@include regular-16;
			}
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: minmax(360px, 511px) minmax(auto, 900px);
		row-gap: 60px;
		column-gap: 60px;
		justify-content: space-between;
		grid-template-areas:
			'a c'
			'b c';

		@include desktop_small {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'c c'
				'a b';
		}

		@include mobile {
			grid-template-columns: 1fr;
			grid-template-areas:
				'c'
				'a'
				'b';
			gap: 30px;
		}
	}

	&__item {
		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
		}

		&_large {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 25px;
			justify-content: space-between;

			@include desktop_small {
				width: unset;
			}

			@include mobile {
				margin-bottom: 20px;
				gap: 0;
			}
		}
	}

	&__number {
		@include bold-80-uppercase;
		color: $green50;
		padding-bottom: 15px;
		max-width: 360px;
		display: flex;
		align-items: center;
		border-bottom: solid 1px #4d4d4d;

		@include mobile {
			@include bold-40-uppercase;
			max-width: unset;
		}

		span {
			@include bold-80-uppercase;
			margin-right: 10px;

			@include mobile {
				@include bold-40-uppercase;
			}
		}

		&_large {
			@include bold-240-uppercase;
			font-weight: 900;
			line-height: 80%;
			border: none;
			max-width: unset;
			padding-bottom: 0;
			max-width: 850px;

			@include min_tablet {
				justify-content: flex-end;
				gap: 40px;
			}

			@include desktop_large {
				@include bold-150-uppercase;
			}

			@include tablet {
				@include bold-120-uppercase;
				max-width: 420px;
				gap: 20px;
			}

			@include mobile {
				@include bold-60-uppercase;
				max-width: 210px;
				gap: 0;
			}

			span {
				@include bold-240-uppercase;

				@include desktop_large {
					@include bold-150-uppercase;
				}

				@include tablet {
					@include bold-120-uppercase;
				}

				@include mobile {
					@include bold-60-uppercase;
				}
			}
		}
	}

	&__description {
		padding-top: 15px;
		max-width: 360px;
		@include regular-18;

		@include mobile {
			max-width: unset;
			@include regular-16;
		}

		&_narrow {
			max-width: 250px;
		}

		&_large {
			@include regular-20;
			max-width: 777px;

			@include mobile {
				@include regular-16;
			}

			.link {
				margin-top: 34px;

				@include mobile {
					margin-top: 22px;
				}
			}
		}
	}
}

