.page-title {
	padding-top: 180px;
	padding-bottom: 80px;

	@include tablet {
		padding-top: 85px;
		padding-bottom: 40px;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include tablet {
			gap: 20px;
		}
	}

	h1 {
		max-width: 1500px;

		span {
			color: $green50;
		}

		@include mobile {
			font-size: 28px;
		}
	}

	.dropdown__button b {
		font-size: 30px;
		line-height: 80%;
	}

	&_secondary {
		background-image: url(@images/title-bg.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		h1 {
			color: $white;
		}

		@include tablet {
			padding-bottom: 27px;
		}
	}

	&_align-right {
		h1 {
			text-align: right;

			@include tablet {
				text-align: left;
			}
		}
	}

	&__details {
		display: flex;
		gap: 60px;

		@include tablet {
			flex-direction: column;
			gap: 10px;
		}

		div {
			@include regular-20;
			color: $white;

			@include tablet {
				@include regular-14;
			}

			span {
				color: $gray20;
			}
		}
	}

	&__links {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}

