.projects-section {
	padding-top: 140px;
	position: relative;

	@include tablet {
		padding-top: 80px;
	}

	&__swiper {
		padding-bottom: 80px;
		margin-top: 80px;
		margin-left: 175px;
		margin-right: 20px;
		overflow: visible;

		@include desktop {
			margin-left: 50px;
		}

		@include tablet {
			margin-top: 40px;
			margin-left: 20px;
			padding-bottom: 40px;
		}
	}

	.swiper-slide {
		width: 775px;
		height: 612px;

		@include tablet {
			height: 486px;
			width: 500px;
		}

		@include mobile {
			width: 320px;
		}
	}

	.btn {
		margin: 40px auto 0 auto;

		@include min_tablet {
			margin: 0;
			position: absolute;
			right: 175px;
			top: 150px;
		}
		@include min_mobile {
			margin: 0;
			top: 80px;
			right: 55px;
			position: absolute;
		}
	}
}

