.service-card {
	padding: 36px 28px 28px 28px;
	display: grid;
	gap: 16px;
	align-items: start;
	grid-template-rows: minmax(0, 90px) auto auto;
	min-height: 468px;
	height: 100%;
	position: relative;
	overflow: hidden;

	@include tablet {
		padding: 25px 20px;
		grid-template-rows: minmax(0, 75px) auto auto;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $gray90;
		z-index: -1;
		@include transition;
	}

	&:hover {
		&::after {
			left: 100%;
		}
	}

	h3 {
		@include transition;
		color: $white;
		overflow: hidden;
		max-height: 90px;
		text-overflow: ellipsis;

		@include tablet {
			max-height: 75px;
		}

		@include mobile {
			max-height: 60px;
		}
	}

	p {
		max-height: 200px;
		overflow: hidden;
		@include transition;
		color: $white;
		text-overflow: ellipsis;
	}

	.link {
		align-self: flex-end;
	}

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;

		img {
			filter: brightness(0.3);
		}
	}

	&_secondary {
		padding: 0 0 28px 0;
		background-color: $gray04;
		height: 678px;
		grid-template-rows: 288px minmax(0, 90px) minmax(0, 160px) auto;
		gap: 30px;

		@include tablet {
			height: unset;
			padding: 0 0 20px 0;
			grid-template-rows: 200px minmax(0, 120px) auto auto;
			gap: 0;
		}

		@include tablet_small {
			grid-template-rows: 200px auto auto auto;
		}

		&::after {
			background: none;
		}

		&:hover {
			img {
				scale: 1.2;
			}
		}

		img {
			@include transition;
		}

		h3 {
			color: $black;

			@include tablet {
				margin-top: 30px;
				margin-bottom: 15px;
			}
		}

		p {
			max-height: 160px;
			color: $gray70;
			overflow: hidden;

			@include tablet {
				margin-bottom: 40px;
			}
		}

		h3,
		p,
		.link {
			margin-left: 28px;
			margin-right: 28px;

			@include tablet {
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.service-card__image {
			position: unset;
			height: 288px;
			z-index: 0;
			overflow: hidden;
			width: 100%;

			@include tablet {
				height: 200px;
			}

			img {
				filter: brightness(1);
			}
		}
	}
}

