.services-section {
	background-color: $gray80;
	padding-top: 140px;
	padding-bottom: 140px;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		text-align: right;
		color: $white;

		@include mobile {
			text-align: left;
		}

		span:not(.children) {
			font-weight: inherit;
			color: $white;
			display: flex;
			align-items: center;
			gap: 20px;
			justify-content: flex-end;
			word-wrap: none;

			@include desktop_huge {
				flex-direction: column;
				align-items: flex-end;
				gap: 0;
			}

			@include mobile {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		b {
			font-weight: inherit;
			color: $green50;
			white-space: nowrap;
		}

		.btn {
			@include tablet {
				display: none;
			}
		}
	}

	&__swiper {
		margin-top: 80px;
		margin-left: 175px;
		margin-right: 20px;
		overflow: visible;

		@include desktop {
			margin-left: 50px;
		}

		@include tablet {
			margin-top: 40px;
			margin-left: 20px;
		}

		.swiper-pagination {
			bottom: 70px;

			@include min_tablet {
				display: none;
			}
		}

		.btn {
			margin: 80px auto 0 auto;
			@include min_tablet {
				display: none;
			}
		}
	}
}

