.service-detail {
	padding-top: 140px;
	padding-bottom: 140px;
	overflow-x: hidden;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		text-align: right;
		margin-bottom: 40px;

		@include tablet {
			margin-bottom: 20px;
			text-align: left;
		}

		span {
			color: $green50;
		}
	}

	p {
		max-width: 1167px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	ul:not(.accordion__list) {
		display: flex;
		flex-direction: column;
		gap: 5px;

		li {
			display: flex;
			gap: 10px;
			align-items: baseline;
			@include regular-18;

			@include tablet {
				@include regular-16;
			}

			&::before {
				content: url(@icons/list-item.svg);

				@include tablet {
					content: url(@icons/list-item-small.svg);
				}
			}
		}
	}

	ol {
		li {
			@include regular-18;

			@include tablet {
				@include regular-16;
			}
		}
	}

	.enumeration {
		margin-top: 70px;

		@include tablet {
			margin-top: 40px;
		}
	}

	&__swiper {
		margin-top: 80px;

		@include tablet {
			margin-top: 40px;
		}
	}

	&__subtitle {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@include desktop_extra_small {
			b {
				color: $green50;
			}

			span {
				display: none;
			}
		}
	}
}

