.solution-detail {
	padding-top: 140px;
	padding-bottom: 140px;
	overflow-x: hidden;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		text-align: right;
		margin-bottom: 80px;

		&:first-of-type {
			text-align: left;
		}

		@include tablet {
			margin-bottom: 40px;
			text-align: left;
		}

		span {
			color: $green50;
		}
	}

	&__description {
		max-width: 1167px;
		margin-bottom: 80px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	.enumeration {
		margin-bottom: 140px;

		@include tablet {
			margin-bottom: 80px;
		}
	}

	.media-component {
		margin-bottom: 140px;
		@include tablet {
			margin-bottom: 60px;
		}
	}

	&__swiper {
		@include tablet {
			margin-top: 40px;
		}
	}
}

