.solution-card {
	padding: 36px 28px 28px 28px;
	border-top: solid 1px $gray10;
	display: grid;
	gap: 16px;
	align-items: start;
	grid-template-rows: max-content auto auto;
	min-height: 360px;
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white;
		z-index: -1;
		@include transition;
	}

	&:hover {
		&::after {
			top: -100%;
		}

		h3,
		p,
		.link {
			color: $white;
		}

		.link_green-arrow {
			&:after {
				content: url(@icons/arrow-white.svg);
			}

			&:hover {
				color: $green60;

				&:after {
					content: url(@icons/arrow-green-hover.svg);
				}
			}
		}
	}

	@include desktop {
		min-height: unset;
	}

	@include tablet {
		padding: 25px 20px;
	}

	h3 {
		@include transition;
		max-height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;

		@include tablet {
			max-height: 50px;
		}

		@include tablet_small {
			max-height: unset;
		}
	}

	p {
		max-height: 180px;
		overflow: hidden;
		@include transition;
		text-overflow: ellipsis;
	}

	.link {
		align-self: flex-end;
	}

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
	}

	&_secondary {
		padding: 0 0 28px 0;
		background-color: $gray04;
		height: 678px;
		grid-template-rows: 288px minmax(0, 58px) minmax(0, 203px) auto;
		gap: 30px;

		@include desktop {
			grid-template-rows: 288px minmax(0, 90px) auto auto;
		}

		@include tablet {
			height: unset;
			padding: 0 0 20px 0;
			grid-template-rows: 200px minmax(0, 90px) auto auto;
			gap: 0;
		}

		@include tablet_small {
			grid-template-rows: 200px auto auto auto;
		}

		&::after {
			background: none;
		}

		img {
			@include transition;
		}

		&:hover {
			h3,
			p {
				color: $black;
			}

			.link {
				color: $green50;
			}

			.link_green-arrow {
				&:after {
					content: url(@icons/arrow-green.svg);
				}

				&:hover {
					color: $green60;

					&:after {
						content: url(@icons/arrow-green-hover.svg);
					}
				}
			}

			img {
				scale: 1.2;
			}
		}

		h3 {
			color: $black;
			overflow: hidden;

			@include tablet {
				margin-top: 30px;
				margin-bottom: 15px;
			}
		}

		p {
			color: $gray70;
			overflow: hidden;

			@include tablet {
				margin-bottom: 40px;
			}
		}

		h3,
		p,
		.link {
			margin-left: 28px;
			margin-right: 28px;

			@include tablet {
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.solution-card__image {
			position: unset;
			height: 288px;
			z-index: 0;
			overflow: hidden;
			width: 100%;

			@include tablet {
				height: 200px;
			}
		}
	}
}

