.solutions-section {
	padding-top: 140px;

	@include tablet {
		padding-top: 80px;
	}

	h2 {
		text-align: right;

		@include mobile {
			text-align: left;
		}

		span {
			display: inline;
			font-weight: inherit;

			&:last-of-type:not(.children) {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: flex-end;

				@include mobile {
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}

		b {
			font-weight: inherit;
			color: $green50;
			white-space: nowrap;
		}
	}

	&__content {
		margin-top: 80px;
		display: grid;
		grid-template-columns: minmax(300px, 689px) 1fr;

		@include desktop {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet {
			margin-top: 40px;
			grid-template-columns: 1fr;
			grid-auto-flow: column-reverse;
		}
	}

	&__video {
		min-height: 360px;
		@include tablet {
			order: 2;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include desktop {
			grid-template-columns: 1fr;
		}
	}
}

