.submenu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	background-color: $white;
	padding: 80px 80px 96px 175px;
	box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
	opacity: 0;
	transition: all 0.8s ease;
	pointer-events: none;
	z-index: 2;

	@include tablet {
		top: 45px;
		left: -100%;
		padding: 30px 20px 109px 20px;
		box-shadow: none;
	}

	&.active {
		top: 100px;
		opacity: 1;
		pointer-events: unset;

		@include tablet {
			top: 45px;
			left: 0;
			height: 100%;
			overflow-y: scroll;
		}
	}

	&__button {
		&.link {
			display: flex;
			gap: 10px;

			@include tablet {
				justify-content: space-between;
				&::after {
					content: '';
					background-image: url(@icons/chevron-right.svg);
					height: 20px;
					width: 20px;
				}
			}

			b {
				display: block;
				@include transition;

				@include tablet {
					display: none;
				}
			}

			&.active {
				color: $green50;
				b {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__close {
		position: absolute;
		right: 110px;
		top: 47px;
		background-image: url(@icons/cross-black-large.svg);
		height: 21px;
		width: 21px;
		background-size: 100%;
		background-position: center;
		cursor: pointer;

		@include tablet {
			background-image: url(@icons/chevron-left.svg);
			position: unset;

			&::after {
				content: 'Назад';
				margin-left: 30px;
			}
		}
	}

	&__title {
		@include medium-20-uppercase;

		@include tablet {
			display: none;
		}
	}

	&__list {
		margin-top: 32px;
		display: grid;
		grid-template-columns: repeat(2, 350px);
		gap: 15px;

		@include tablet {
			margin-top: 20px;
			grid-template-columns: 1fr;
		}

		@include mobile {
			gap: 30px;
		}

		.link {
			margin-right: 50px;

			@include tablet {
				margin-right: 0;
			}
		}
	}
}

