.title {
	padding: 170px 0 30px 0;

	@include desktop {
		padding: 170px 55px 30px 0;
	}

	@include desktop_extra_small {
		padding: 170px 55px 0 0;
	}

	@include tablet {
		padding: 85px 0 0 0;
	}

	h1 {
		color: $black;

		@include min_desktop_extra {
			@include bold-80-uppercase;
		}
		
		@include bold-60-uppercase;

		@include desktop {
			@include bold-36-uppercase;
		}

		@include desktop_base {
			@include bold-30-uppercase;
		}

		@include mobile {
			@include bold-26-uppercase;
		}

		display: flex;
		flex-direction: column;

		& > div {
			display: flex;
			flex-direction: column;

			@include desktop {
				flex-direction: row;
				align-items: center;
				gap: 10px;
			}
			@include desktop_small {
				flex-direction: column;
				align-items: flex-start;
				gap: 0;
			}
		}

		strong {
			display: flex;
			align-items: center;
			gap: 20px;

			@include mobile {
				flex-direction: column;
				align-items: flex-start;
			}

			& > .btn {
				@include desktop {
					padding: 8px 20px;
					height: 100%;
				}

				@include desktop_small {
					padding: 6px 16px;
				}

				@include mobile {
					padding: 10px 20px;
				}

				.children {
					@include desktop {
						@include medium-14;
					}

					@include desktop_small {
						@include medium-12;
					}
				}
			}
		}

		span {
			display: inline-block;
			@include min_desktop_extra {
				@include bold-80-uppercase;
			}
			
			@include bold-60-uppercase;

			@include desktop {
				@include bold-36-uppercase;
			}

			@include desktop_base {
				@include bold-30-uppercase;
			}

			@include mobile {
				@include bold-26-uppercase;
			}

			// &:nth-child(2) {
			// 	align-self: flex-end;
			// }

			b {
				@include min_desktop_extra {
					@include bold-80-uppercase;
				}
				
				@include bold-60-uppercase;
				color: $green50;

				@include desktop {
					@include bold-36-uppercase;
				}

				@include desktop_base {
					@include bold-30-uppercase;
				}

				@include mobile {
					@include bold-26-uppercase;
				}
			}
		}
	}
}

