.title {
	padding: 230px 0 105px 0;

	@include tablet {
		padding: 85px 0 0 0;
	}

	h1 {
		@include bold-80-uppercase;
		color: $black;

		@include tablet {
			@include bold-40-uppercase;
		}

		@include mobile {
			@include bold-28-uppercase;
		}

		display: flex;
		flex-direction: column;

		strong {
			display: flex;
			align-items: center;
			gap: 20px;

			@include mobile {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		span {
			display: inline-block;
			@include bold-80-uppercase;

			@include tablet {
				@include bold-40-uppercase;
			}

			@include mobile {
				@include bold-28-uppercase;
			}

			&:nth-child(2) {
				align-self: flex-end;
			}

			b {
				@include bold-80-uppercase;
				color: $green50;

				@include tablet {
					@include bold-40-uppercase;
				}

				@include mobile {
					@include bold-28-uppercase;
				}
			}
		}
	}
}

