.univercity {
	margin-bottom: 80px;
	overflow: hidden;
	@include tablet {
		margin-bottom: 60px;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
		gap: 32px;

		@include tablet {
			flex-direction: column-reverse;
			align-items: flex-start;
			margin-bottom: 20px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		h2 {
			text-align: right;

			@include tablet {
				text-align: left;
			}
			span {
				font-size: inherit;
				color: $green50;
			}
		}
	}

	&__text {
		max-width: 1173px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 80px;

		@include tablet {
			margin-bottom: 40px;
		}

		span {
			@include medium-20;
			color: $gray60;

			@include mobile {
				@include medium-16;
			}
		}
		p {
			color: $gray60;
			@include regular-20;

			@include mobile {
				@include regular-16;
			}
		}
	}

	&__swiper {
		padding-bottom: 80px;
		margin-top: 80px;
		margin-left: 175px;
		margin-right: 20px;
		overflow: visible;

		@include desktop {
			margin-left: 50px;
		}

		@include tablet {
			margin-top: 40px;
			margin-left: 20px;
			padding-bottom: 40px;
		}
	}
}

