.btn {
	height: 65px;
	padding: 20px 48px;
	background-color: transparent;
	color: $green50;
	position: relative;
	cursor: pointer;
	transition: all $transitionDuration;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	min-width: fit-content;
	background-color: $white;
	border: solid 1px $white;

	@include mobile {
		padding: 16px 24px;
		height: 50px;
	}

	&:hover {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;
	}

	.children {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include medium-20-uppercase;
		line-height: 0;

		@include mobile {
			@include medium-16-uppercase;
		}
	}

	&_green {
		background-color: $green50;
		color: $white;
		border: 1px solid $green50;

		&:hover {
			background-color: transparent;
			color: $green50;
			border: 1px solid $green50;
		}
	}

	&_secondary {
		border: solid 1px $black;
		background: transparent;
		border-radius: 60px;
		color: $black;
		padding: 20px 24px;
		height: 55px;
		width: fit-content;

		@include medium-20-uppercase;
		line-height: 0;

		@include tablet {
			height: 32px;
			padding: 12px;
		}

		@include mobile {
			height: 40px;
			padding: 16px 24px;
			@include medium-16-uppercase;
		}

		&:hover {
			border: solid 1px $green50;
			background: $green50;
			color: $white;

			.children:after {
				content: url(@icons/arrow-white.svg);
			}
		}

		.children {
			@include medium-18-uppercase;
			display: flex;
			gap: 10px;

			@include tablet {
				@include medium-12-uppercase;
			}

			&:after {
				content: url(@icons/arrow-black.svg);
				width: 23px;
				display: inline-block;
			}
		}

		&_white {
			border: solid 1px $white;
			color: $white;
			border-radius: 60px;

			.children {
				color: $white;

				&:after {
					content: url(@icons/arrow-white.svg);
				}
			}
		}

		&_green {
			border: solid 1px $green50;
			color: $green50;
			background-color: $white;
			border-radius: 60px;
			height: 38px;
			padding: 10px 22px;

			.children {
				color: $green50;
				@include medium-14-uppercase;

				&:after {
					content: url(@icons/arrow-green.svg);
				}
			}

			&:hover {
				color: $white;
				background-color: $green50;

				.children {
					color: $white;
	
					&:after {
						content: url(@icons/arrow-white.svg);
					}
				}
			}
		}
	}

	&_wide {
		width: 100%;
	}

	&.disabled {
		background-color: $gray70;
		color: $white;
		border-color: $gray70;
		cursor: default;
		pointer-events: none;
	}
}

