.dropdown {
	position: relative;

	&.disabled {
		pointer-events: none;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 6px;
		width: 100%;
		padding: 27px 30px;
		border: solid 1px $gray10;

		@include tablet {
			padding: 15px;
		}

		span {
			@include regular-20;
			color: $gray70;

			@include tablet {
				@include regular-16;
			}
		}

		b {
			@include transition;
			@include regular-18;

			@include tablet {
				@include regular-16;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__options {
		position: absolute;
		height: 0;
		overflow: hidden;
		@include transition;
		opacity: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $white;
		z-index: 10;
		border: solid 1px $gray10;
		border-top: none;
		max-height: 330px;
		overflow-y: scroll;

		@include tablet {
			max-height: 205px;
		}
	}

	&__option {
		a {
			padding: 27px 30px;
			width: 100%;

			@include tablet {
				padding: 15px;
			}
			@include regular-20;
			color: $gray70;

			@include tablet {
				@include regular-16;
			}
		}

		&:hover {
			cursor: pointer;
			background-color: $gray04;
		}
	}

	&.active {
		.dropdown__button {
			b {
				transform: rotate(180deg) translateY(-3px);
			}
		}
		.dropdown__options {
			height: auto;
			opacity: 1;
		}
		.dropdown__content {
			height: auto;
			opacity: 1;
		}
	}
}

