.list {
	display: flex;
	flex-direction: column;
	gap: 5px;

	li {
		display: flex;
		gap: 10px;
		align-items: center;
		@include regular-20;

		@include tablet {
			@include regular-16;
		}

		&::before {
			content: url(@icons/list-item.svg);

			@include tablet {
				content: url(@icons/list-item-small.svg);
			}
		}
	}
}

