.pagination {
	display: flex;
	justify-content: center;
	position: relative;

	@include desktop {
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}

	&__nav {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		display: flex;
		align-items: center;
		gap: 0px;

		@include desktop {
			position: unset;
		}

		@include mobile {
			display: none;
		}

		a {
			&,
			&:focus,
			&:visited {
				color: $gray70;
				width: 42px;
				height: 42px;
				padding: 11px;
				@include regular-18;
				line-height: 0;
				transition: all $transitionDuration ease-in-out;
				display: flex;
				justify-content: center;
				align-items: center;

				&:last-child {
					padding: 0;

					&:hover {
						path {
							stroke: $green50;
						}
					}
				}
			}

			&:hover {
				color: $green50;
			}

			&.active {
				background-color: $gray04;
			}

			&.active,
			&.disabled {
				pointer-events: none;
				user-select: none;
			}
		}
	}
}

