.swiper-component {
	overflow: visible;
	padding-bottom: 80px;

	@include tablet {
		padding-bottom: 40px;
	}

	.swiper-slide {
		width: 775px;
		height: 478px;

		@include tablet {
			width: 500px;
			height: 312px;
		}

		@include mobile {
			width: 320px;
			height: 197px;
		}
	}

	&_secondary {
		.swiper-slide {
			width: 378px;
			height: 535px;

			@include tablet {
				width: 350px;
				height: 495px;
			}

			@include mobile {
				width: 320px;
				height: 453px;
			}
		}
	}
}

.swiper-button-prev {
	height: 51px !important;
	width: 51px !important;
	right: 266px !important;
	bottom: 46px !important;
	left: unset !important;
	top: unset !important;

	@include desktop {
		right: 200px !important;
	}

	@include tablet {
		right: 70px !important;
	}

	@include mobile {
		height: 40px !important;
		width: 40px !important;
	}

	&:after {
		content: url(@icons/prev.svg) !important;

		@include tablet {
			content: url(@icons/prev-small.svg) !important;
		}
	}
}
.swiper-button-next {
	height: 51px !important;
	width: 51px !important;
	right: 175px !important;
	bottom: 46px !important;
	top: unset !important;

	@include desktop {
		right: 110px !important;
	}

	@include tablet {
		right: 20px !important;
	}

	@include mobile {
		height: 40px !important;
		width: 40px !important;
	}

	&:after {
		content: url(@icons/next.svg) !important;

		@include tablet {
			content: url(@icons/next-small.svg) !important;
		}
	}
}

.swiper-scrollbar-drag {
	background-color: $gray70;
}

.swiper-pagination {
	display: flex;
	justify-content: center;
	bottom: 0 !important;

	.swiper-pagination-bullet {
		width: 24px;
		background-color: $gray80;
		border-radius: 0;
		height: 3px;
	}

	.swiper-pagination-bullet-active {
		width: 70px;
		background-color: $gray40;
	}

	&_white {
		.swiper-pagination-bullet {
			background-color: $gray40;
		}

		.swiper-pagination-bullet-active {
			background-color: $gray10;
		}
	}
}

