.tabs {
	margin-bottom: 40px;
	display: flex;
	gap: 24px;
	align-items: center;
	flex-wrap: wrap;

	@include mobile {
		gap: 16px;
		row-gap: 10px;
	}
}

.tab {
	cursor: pointer;

	&.active {
		a {
			cursor: default;
			color: $green50;
		}
	}
}

.tab-content {
	display: none !important;

	&.active {
		display: grid !important;
	}
}

