textarea {
	transition: all $transitionDuration;
	width: 100%;
	min-height: 152px;
	padding: 23px 28px;
	border: 1px solid $gray30;
	outline: none;
	resize: none;
	@include regular-16;
	background-color: transparent;
	padding-right: 47px;

	@include mobile {
		padding: 15px 20px;
		padding-right: 40px;
	}

	&:focus {
	}
	&:disabled {
	}

	&::placeholder {
		color: $black;
		opacity: 1;
	}

	&:placeholder-shown {
		text-overflow: ellipsis;
	}

	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: $black;
	}
	&::-moz-placeholder {
		/* Firefox 19+ */
		color: $black;
	}
	&:-ms-input-placeholder {
		/* IE 10+ */
		color: $black;
	}
	&:-moz-placeholder {
		/* Firefox 18- */
		color: $black;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $gray60;
	}
	&:focus::-webkit-scrollbar-thumb {
		background-color: $black;
	}
	&:disabled::-webkit-scrollbar-thumb {
		background-color: $gray60;
	}

	& ~ .pristine-error {
		color: $red;
		@include regular-16;
	}

	// &[aria-invalid='true'] {
	// 	&:not(:focus) {
	// 		border: 1px solid $red;
	// 	}
	// }

	.has-success & {
		&:not(:focus) {
			border: 1px solid $green50;
		}
	}
}

.textarea__container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.textarea__label {
		@include regular-20;

		@include tablet_small {
			@include regular-14;
		}
	}

	&_valid {
		textarea:not(:focus) {
		}
	}

	&_invalid {
		textarea:not(:focus) {
		}
	}
}

