@@if (context.education) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_education">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Объектовое <br>видеонаблюдение</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Инженерная инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Строительство дата центров <br>и центра обработки данных (ЦОД)</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Построение ит и инженерной инфраструктуры</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Автоматическое пожаротушение <br>и автоматика здания</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Антитеррористическая <br>защита</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Контроль доступа <br>и учет рабочего времени</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы связи и оповещения</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Ит-инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content fraction__content_bold">
					  <p>FaceGate: система автоматизации <br>контроля и доступа</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_education">
			  <img src="@images/fraction-edu.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.administration) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_administration">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Объектовое видеонаблюдение</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content fraction__content_bold">
					  <p>FaceGate: система автоматизации <br>контроля и доступа</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Автоматическое пожаротушение <br>и автоматика здания</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Антитеррористическая <br>защита</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы связи и оповещения</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Контроль доступа <br>и учет рабочего времени</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_administration">
			  <img src="@images/fraction-admin.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.medical) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_medical">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>IT-инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы связи и оповещения</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content fraction__content_bold">
					  <p>AutoGate: автоматизированная <br>система транспортных КПП</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Объектовое видеонаблюдение</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>FaceGate: система автоматизации <br>контроля и доступа</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
				  </ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Антитеррористическая <br>защита</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Контроль доступа <br>и учет рабочего времени</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Автоматическое пожаротушение <br>и автоматика зданий</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_medical">
			  <img src="@images/fraction-medical.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.factory) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_factory">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Контроль доступа <br>и учет рабочего времени</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы автоматического <br>пожаротушение и автоматики зданий</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Радиосвязь DMR и TETRA <br>Опорные сети LoRAWAN <br>Промышленный WI-FI <br>Беспроводной широкополосный доступ <br>Радиорелейные линии связи</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content fraction__content_bold">
					  <p>FaceGate: система автоматизации <br>контроля и доступа</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content fraction__content_bold">
					  <p>Система вибромониторинга <br>насосного оборудования</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Антитеррористическая защита</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>Шкафы автоматики <br>и щиты управления</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
						  <p>«Протокол». Программно-аппаратный <br>комплекс (ПАК)</p>
						  <a href="#">Подробнее</a>
						</div>                
					  </li>
				  </ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Автоматический учет <br>движения автотранспорта <br>и весовые системы</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Обнаружение и подавление БПЛА <br>Автоматические охранные БПЛА</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li class="fraction__item_offset-130">
					<div class="fraction__content">
					  <p>Единый ситуационный центр</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li class="fraction__item_offset-130">
					<div class="fraction__content">
					  <p>Комплексные<br> системы безопасности</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li class="fraction__item_offset-130">
						<div class="fraction__content">
						  <p>Машинное зрение <br>и нейросетевая видеоаналитика</p>
						  <a href="#">Подробнее</a>
						</div>          
					  </li>
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>Комплексная система диспетчерского <br>контроля и мониторинга промышленного <br>оборудования</p>
						<a href="#">Подробнее</a>
					  </div>          
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
						  <p>Обнаружение и подавление БПЛА <br>Автоматические охранные БПЛА</p>
						  <a href="#">Подробнее</a>
						</div>          
					  </li>
				  </ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_factory">
			  <img src="@images/fraction-factory.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.roads) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_roads">
			  <div class="fraction__column fraction__column_center">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Камеры фото-<br>и видеофиксации</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column fraction__column_offset">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Табло переменной информации</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Метеостанция</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>«Курсор». Интеллектуальная <br>транспортная система</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
							<p>FaceGate: система автоматизации <br>контроля и доступа</p>
							<a href="#">Подробнее</a>
						</div>                
					</li>
				  </ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Транспортная безопасность мостов, <br>эстакад и переездов</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Знаки переменной информации</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Проектор пешеходной <br>дороги</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Пункт учета <br>интенсивности движения</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Умный светофор</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>IT-инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				</ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_roads">
			  <img src="@images/fraction-roads.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.oil) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_oil">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>IT-инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Инженерная инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>АСУТП</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>AutoGate: автоматизированная <br>система транспортных КПП</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>FaceGate: система автоматизации <br>контроля и доступа</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
						  <p>Система вибромониторинга <br>насосного оборудования</p>
						  <a href="#">Подробнее</a>
						</div>                
					</li>
				  </ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Замер количества <br>и качества нефти</p>
					  <a href="#">Подробнее</a>
					</div>
					<ul>
						<li class="fraction__item_offset-80">
							<div class="fraction__content">
							  <p>Промышленная связь</p>
							  <a href="#">Подробнее</a>
							</div>                
						  </li>
					</ul>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>Шкафы автоматики <br>и щиты управления</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
							<p>Комплексная система диспетчерского контроля <br>и мониторинга промышленного оборудования</p>
							<a href="#">Подробнее</a>
						</div>                
					</li>
				  </ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Системы-безопасности <br>или антитеррор</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Вибромониторинг</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Технологическая безопасность</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Охранно-пожарные системы</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>Система мониторинга <br>физиологических параметров <br>операторов</p>
						<a href="#">Подробнее</a>
					  </div>          
					</li>
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>«Протокол». Программно-аппаратный <br>комплекс (ПАК)</p>
						<a href="#">Подробнее</a>
					  </div>          
					</li>
				  </ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_oil">
			  <img src="@images/fraction-oil.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.agronom) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_agronom">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Автоматизированная <br>система учета энергоресурсов</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Весовой контроль</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Автоматические системы климата</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>FaceGate: система автоматизации <br>контроля и доступа</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Контроль физиологических <br>показателей</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column fraction__column_left">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Метеостанции и станции <br>
						экологического мониторинга</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы безопасности</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Спектральная съемка</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>AutoGate: автоматизированная <br>система транспортных КПП</p>
						<a href="#">Подробнее</a>
					  </div>          
					</li>
				  </ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_agronom">
			  <img src="@images/fraction-agronom.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}
@@if (context.airport) {
	<section class="fraction">
		<div class="container">
		  <div class="fraction__wrapper">
			<div class="fraction__container fraction__container_airport">
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Системы обнаружения <br>
						и подавления БПЛА</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Единый ситуационный центр</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Системы связи и оповещения</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>«Протокол». Программно-аппаратный <br>
							комплекс (ПАК)</p>
						<a href="#">Подробнее</a>
					  </div>                
					</li>
					<li>
						<div class="fraction__content fraction__content_bold">
						  <p>FaceGate: система автоматизации <br>контроля и доступа</p>
						  <a href="#">Подробнее</a>
						</div>                
					  </li>
				</ul>
			  </div>
			  <div class="fraction__column">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Антитеррористическая защита <br>
						и транспортная безопасность</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>IT-инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>                
				  </li>
				</ul>
			  </div>
			  <div class="fraction__column fraction__column_left">
				<ul class="list fraction__list">
				  <li>
					<div class="fraction__content">
					  <p>Автоматическое пожаротушение <br>
						и автоматика зданий</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				  <li>
					<div class="fraction__content">
					  <p>Инженерная инфраструктура</p>
					  <a href="#">Подробнее</a>
					</div>          
				  </li>
				</ul>
				<ul class="list fraction__list">
					<li>
					  <div class="fraction__content fraction__content_bold">
						<p>AutoGate: автоматизированная <br>система транспортных КПП</p>
						<a href="#">Подробнее</a>
					  </div>          
					</li>
				  </ul>
			  </div>    
			</div>
			<div class="fraction__image fraction__image_airport">
			  <img src="@images/fraction-airport.webp" alt="">
			</div>        
		  </div>
		  
		</div>
	  </section>
}