<header class="header">
  <div class="header__logo" id="logo">
    <a href="/">
      <img src="@icons/logo-35.svg" alt="logo" />
      <img src="@icons/logo-35-white.svg" alt="logo" />
    </a>
  </div>
  <div class="header__menu" id="mobile-menu">
    <nav class="header__nav">
      <span class="link submenu__button" id="submenu-button">
        О компании
      </span>
      <span class="link submenu__button" id="solutions-button">
        Решения
      </span>
      <span class="link submenu__button" id="services-button">
        Услуги
      </span>
      <span class="link submenu__button" id="projects-button">
        Проекты
      </span>
      <a class="link" href="#">
        Контакты
      </a>
      <!-- about company -->
      <div class="submenu" id="sub-menu">
        <div class="submenu__close submenu__button"></div>
        <a href="#" class="submenu__title link">О компании</a>
        <div class="submenu__list">
          <a href="#" class="link">О компании</a>
          <a href="#" class="link">35 лет истории успеха</a>
          <a href="#" class="link">Карьера</a>
          <a href="#" class="link">Руководство</a>
          <a href="#" class="link">Партнеры</a>
          <a href="#" class="link">Лицензии и сертификаты</a>
        </div>
      </div>
      <!-- solutions -->
      <div class="submenu" id="solutions">
        <div class="submenu__close submenu__button"></div>
        <a href="#" class="submenu__title link">Решения</a>
        <div class="submenu__list submenu__list_high">
          <a href="#" class="link">Образование</a>
          <a href="#" class="link">Органы государственной власти</a>
          <a href="#" class="link">Здравоохранение</a>
          <a href="#" class="link">Промышленность</a>
          <a href="#" class="link">Транспорт</a>
          <a href="#" class="link">Сельское хозяйство</a>
          <a href="#" class="link">Нефтегазовый сектор</a>
        </div>
      </div>
      <!-- services -->
      <div class="submenu" id="services">
        <div class="submenu__close submenu__button"></div>
        <a href="#" class="submenu__title link">Услуги</a>
        <div class="submenu__list">
          <a href="#" class="link">Инженерные изыскания</a>
          <a href="#" class="link">Проектирование</a>
          <a href="#" class="link">Комплексные поставки</a>
          <a href="#" class="link">Монтажные и пусконаладочные работы</a>
          <a href="#" class="link">Сервис</a>
          <a href="#" class="link">BIM</a>
        </div>
      </div>
      <!-- projects -->
      <div class="submenu" id="projects">
        <div class="submenu__close submenu__button"></div>
        <a href="#" class="submenu__title link">Проекты</a>
        <div class="submenu__list submenu__list_high">
          <a href="#" class="link">Образование</a>
          <a href="#" class="link">Органы государственной власти</a>
          <a href="#" class="link">Здравоохранение</a>
          <a href="#" class="link">Промышленность</a>
          <a href="#" class="link">Транспорт</a>
          <a href="#" class="link">Сельское хозяйство</a>
          <a href="#" class="link">Нефтегазовый сектор</a>
        </div>
      </div>
    </nav>
    <a class="link" href="tel:88000000000">8 (800) 000-00-00</a>
    <a class="link popup-link" href="#write-us">Написать нам</a>
  </div>
  <div class="dropdown header__lang">
    <div class="dropdown__button">
      <span>RU</span>
      <b>▾</b>
    </div>
    <div class="dropdown__options">
      <a href="#" class="dropdown__option link">EN</a>
    </div>
  </div>
  <div class="header__right-bar" id="bar">
    <div class="header__burger" id="burger"></div>
    <div class="header__close" id="close-menu"></div>
  </div>
</header>
<nav class="menu" id="menu">
  <a class="menu__link" href="#">О компании</a>
  <div class="menu__item">
    <a class="menu__link" href="#">Решения</a>
  </div>
  <div class="menu__item">
    <a class="menu__link" href="#">Услуги</a>
  </div>
  <div class="menu__item">
    <a class="menu__link" href="#">Проекты</a>
  </div>
  <a class="menu__link" href="#">Карьера</a>
  <div class="menu__item">
    <a class="menu__link" href="#">Медиа</a>
  </div>
  <a class="menu__link" href="#">Контакты</a>
  <div class="menu__block">
    <img src="@images/building.png" alt="photo">
    <a class="menu__link" href="#">35 лет истории успеха</a>
    <p>Группа компаний «Форт Диалог» – основана в 1989 году и является одной из крупнейших российских региональных
      компаний, работающих в сфере системной интеграции.</p>
  </div>
</nav>
<div id="write-us" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <span class="popup__close close-popup"></span>
      <h2>Написать нам</h2>
      <form class="popup__form form">
        <div class="form__row">
          @@include('components/ui/_input-text.html', {placeholder: 'Ваше имя*', errorMessage: 'Введите ваше имя',
          name:
          'name', required: true})
          @@include('components/ui/_input-email.html', {placeholder: 'Электронная почта*', name: 'email', required:
          true})
        </div>
        @@include('components/ui/_textarea.html', {placeholder: 'Оставьте свое сообщение*',
        errorMessage: 'Оставьте свое сообщение', name: 'message', required: true})
        <div class="form__row">
          <div class="form__privacy">
            Отправляя форму, вы даете свое согласие
            на <a href="#" class="link link_green" target="_blank">обработку своих персональных данных</a>
          </div>
          @@include('components/ui/_button.html',
          {type: 'submit', class: 'btn_green',children:'отправить'})
        </div>
      </form>
    </div>
  </div>
</div>