<header class="header">
  <div class="header__logo" id="logo">
    <a href="/">
      <img src="@icons/logo.svg" alt="logo" />
      <img src="@icons/logo-white.svg" alt="logo" />
    </a>
  </div>
  <div class="header__menu" id="mobile-menu">
    <nav class="header__nav">
      <span class="link submenu__button" id="submenu-button">
        О компании<b>&#x25BE;</b>
      </span>
      <a class="link" href="#">
        Решения
      </a>
      <a class="link" href="#">
        Услуги
      </a>
      <a class="link" href="#">
        Проекты
      </a>
      <a class="link" href="#">
        Контакты
      </a>
      <!-- about company popup -->
      <div class="submenu" id="sub-menu">
        <div class="submenu__close submenu__button" id="submenu-close"></div>
        <span class="submenu__title">О компании</span>
        <div class="submenu__list">
          <a href="#" class="link">О компании</a>
          <a href="#" class="link">35 лет истории успеха</a>
          <a href="#" class="link">Карьера</a>
          <a href="#" class="link">Руководство</a>
          <a href="#" class="link">Партнеры</a>
          <a href="#" class="link">Лицензии и сертификаты</a>
        </div>
      </div>
    </nav>
    <a class="link" href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
    <a class="link popup-link" href="#write-us">Написать нам</a>
  </div>
  <div class="dropdown header__lang">
    <div class="dropdown__button">
      <span>RU</span>
      <b>▾</b>
    </div>
    <div class="dropdown__options">
      <a href="#" class="dropdown__option link">EN</a>
    </div>
  </div>
  <div class="header__right-bar" id="bar">
    <div class="header__burger" id="burger"></div>
    <div class="header__close" id="close-menu"></div>
  </div>
</header>
<nav class="menu" id="menu">
  <a class="menu__link" href="#">О компании</a>
  <div class="menu__item">
    <a class="menu__link menu__link_chevron" href="#">Решения</a>
    <div class="menu__inner">
      <a class="link link_small" href="#">ИТС Курсор</a>
      <a class="link link_small" href="#">АСУ ТП</a>
      <a class="link link_small" href="#">Центры обработки данных</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Программно-аппаратный комплекс «Протокол»</a>
      <a class="link link_small" href="#">Система вибромониторинга насосного оборудования</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Комплексная система диспетчерского контроля и мониторинга промышленного
        оборудования</a>
      <a class="link link_small" href="#">Готовые решения на базе шкафов собственного производства</a>
    </div>
  </div>
  <div class="menu__item">
    <a class="menu__link menu__link_chevron" href="#">Услуги</a>
    <div class="menu__inner">
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Программно-аппаратный комплекс «Протокол»</a>
      <a class="link link_small" href="#">Система вибромониторинга насосного оборудования</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Комплексная система диспетчерского контроля и мониторинга промышленного
        оборудования</a>
      <a class="link link_small" href="#">ИТС Курсор</a>
      <a class="link link_small" href="#">АСУ ТП</a>
      <a class="link link_small" href="#">Центры обработки данных</a>

      <a class="link link_small" href="#">Готовые решения на базе шкафов собственного производства</a>
    </div>
  </div>
  <div class="menu__item">
    <a class="menu__link menu__link_chevron" href="#">Проекты</a>
    <div class="menu__inner">
      <a class="link link_small" href="#">Программно-аппаратный комплекс «Протокол»</a>
      <a class="link link_small" href="#">Система вибромониторинга насосного оборудования</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Комплексная система диспетчерского контроля и мониторинга промышленного
        оборудования</a>
      <a class="link link_small" href="#">Готовые решения на базе шкафов собственного производства</a>
    </div>
  </div>
  <a class="menu__link" href="#">Карьера</a>
  <div class="menu__item">
    <a class="menu__link menu__link_chevron" href="#">Медиа</a>
    <div class="menu__inner">
      <a class="link link_small" href="#">Программно-аппаратный комплекс «Протокол»</a>
      <a class="link link_small" href="#">Система вибромониторинга насосного оборудования</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">ИТС Курсор</a>
      <a class="link link_small" href="#">АСУ ТП</a>
      <a class="link link_small" href="#">Центры обработки данных</a>
      <a class="link link_small" href="#">Системы технической безопасности</a>
      <a class="link link_small" href="#">Комплексная система диспетчерского контроля и мониторинга промышленного
        оборудования</a>
      <a class="link link_small" href="#">Готовые решения на базе шкафов собственного производства</a>
    </div>
  </div>
  <a class="menu__link" href="#">Контакты</a>
  <div class="menu__block">
    <img src="@images/building.png" alt="photo">
    <a class="menu__link" href="#">35 лет истории успеха</a>
    <p>Группа компаний «Форт Диалог» – основана в 1989 году и является одной из крупнейших российских региональных
      компаний, работающих в сфере системной интеграции.</p>
  </div>
</nav>
<div id="write-us" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <span class="popup__close close-popup"></span>
      <h2>Написать нам</h2>
      <form class="popup__form form">
        <div class="form__row">
          @@include('components/ui/_input-text.html', {placeholder: 'Ваше имя*', errorMessage: 'Введите ваше имя',
          name:
          'name', required: true})
          @@include('components/ui/_input-email.html', {placeholder: 'Электронная почта*', name: 'email', required:
          true})
        </div>
        @@include('components/ui/_textarea.html', {placeholder: 'Оставьте свое сообщение*',
        errorMessage: 'Оставьте свое сообщение', name: 'message', required: true})
        <div class="form__row">
          <div class="form__privacy">
            Отправляя форму, вы даете свое согласие
            на <a href="#" class="link link_green" target="_blank">обработку своих персональных данных</a>
          </div>
          @@include('components/ui/_button.html',
          {type: 'submit', class: 'btn_green',children:'отправить'})
        </div>
      </form>
    </div>
  </div>
</div>