<header class="header">
  <a href="/">
    <img src="@icons/logo.svg" />
  </a>
  <nav class="header__nav">
    <a class="link">
      О компании
    </a>
    <a class="link" href="#">
      Решения
    </a>
    <a class="link" href="#">
      Услуги
    </a>
    <a class="link" href="#">
      Проекты
    </a>
    <a class="link" href="#">
      Контакты
    </a>
  </nav>
  <a class="link" href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
  <span class="link">Написать нам</span>
  <div class="dropdown">
    <div class="dropdown__button">
      <span>RU</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
        <path d="M4.5 4.5L8.39711 0.75H0.602886L4.5 4.5Z" fill="#333333" />
      </svg>
    </div>
    <ul class="dropdown__options">
      <li class="dropdown__option">
        <a href="#">EN</a>
      </li>
    </ul>
  </div>
  <div class="header__right-bar">

  </div>
</header>