<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a4d44cf3-d646-4c31-be91-2de47fe7de39" type="text/javascript"></script>
<script type="text/javascript">

	if (document.getElementById('yandex-map') !== null) {
		ymaps = window.ymaps;
		function init() {
			let map = new ymaps.Map('yandex-map', {
				center: [54.738435, 55.983600],
				zoom: 16,
				type: 'yandex#map',
				controls: []
			});
			map.behaviors.disable("scrollZoom");

			let placemark = new ymaps.Placemark([54.741301, 55.985946], {}, {
				iconLayout: 'default#image',
				iconImageHref: '@icons/placemark.svg',
				iconImageSize: [61, 73],
				iconImageOffset: [-25, -55]
			});
			map.geoObjects.add(placemark);
		}
		ymaps.ready(init);
	};

</script>