@font-face {
	font-family: formular;
	font-display: swap;
	src: url('@fonts/formular-bold.woff2') format('woff2'), url('@fonts/formular-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@mixin FontFamilyFormularBold {
	font-family: formular, sans-serif;
	font-weight: 700;
	line-height: 125%;
}

@font-face {
	font-family: formular;
	font-display: swap;
	src: url('@fonts/formular-medium.woff2') format('woff2'), url('@fonts/formular-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@mixin FontFamilyFormularMedium {
	font-family: formular, sans-serif;
	font-weight: 500;
	line-height: 125%;
}

@font-face {
	font-family: formular;
	font-display: swap;
	src: url('@fonts/formular-regular.woff2') format('woff2'), url('@fonts/formular-regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@mixin FontFamilyFormularRegular {
	font-family: formular, sans-serif;
	font-weight: 400;
	line-height: 125%;
}

